.login-container {
    border: 1px solid rgb(217, 210, 210) ;
    margin-left: 15% !important;
    width:50vh !important;
    border-radius: 8%;
    background-color: white;
    opacity: 90%;
}

.grid-container {
    text-align: center;
}

.samsLogin {
    color: rgb(25, 108, 217);
    font-size: 2rem !important;
    font-weight: bold;
}

.login-background {
    background-image: url(/public/loginbg.jpg);
    background-size: cover;  
    height: 100vh;  
}

.boxContainer {
    background-image: url(/public/loginbg.jpg);
    min-height: 81.4vh;
    background-size: cover;
    padding-top: 10rem !important;
}

.loginTextField {
    font-size: large !important;
    margin-left: 0px !important;
    font-size: initial !important;
}