.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40rem;
    
}

.dashTypo {
    color: rgb(42, 137, 225);
    font-weight: bold !important;
    font-size: 5rem !important;
}